.sidebar {
    width: 17.5rem;
}

.btn {
    z-index: 2;
    position: relative;
}

.create-book__form-control, .edit-book__form-control, .edit-user__form-control {
    width: 40rem;
}

li p{
    margin-bottom: 0;
}
td {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home__container{
    flex-grow: 1;
}
.user__name{
    text-decoration: none;
    color: black;
}
.user__email {
    text-decoration: none;
    color: black;
}
.user__name:hover, .user__username:hover {
        color: black;
    }
.userDetails__field{
    display: flex;
}
.userDetails__field-name {
    width: 180px;
}
.user-manager__container{
    width: 100%;
}
.edit-user-role__name, .edit-user-role__form-check {
    width: 40rem;
}